html
{
 cursor: default; 
}

body
{
margin: 0px;
font-size: 14px;
color: #fff; 
font-weight: bold; 
background: #000000;
background-image: url('./bg.jpg');
background-position-y: -250px;
background-position-x: -200px;
} 

#main_container
{ 
width: 500px;
margin-left: auto; 
margin-right: auto; 
} 

#body_container
{ 
width: 500px; 
height: 600px; 
position: relative; 
top: 0px; 
left: 0px; 
} 

#header
{ 
height: 50px; 
width: 498px; 
position: absolute; 
top: 100px; 
left: 0px; 
padding-top: 5px; 
padding-left: 0px; 
padding-right: 0px; 
padding-bottom: 0px; 
color: #fff;
font-size: 32px;  
text-align: center; 
border: 1.5px solid #fff; 
border-radius: 10px;

} 

#text_area
{ 
height: 300px; 
width: 500px; 
border: 0px; 
background: #fff;
opacity: 0.8;
position: absolute; 
top: 165px; 
left: 0px; 
cursor: default; 
font-size: 14px;
font-weight: bold; 
border-radius: 5px;
} 

#task
{ width: 110px; 
position: absolute; 
top: 475px; 
left: 0px; 
background: #fff; 
border: 0px;
border-radius: 5px;
opacity: 0.8;
} 

#button
{ 
width: 110px; 
position: absolute; 
top: 475px; 
left: 120px; 
background: #fff; 
border: 0px;
border-radius: 5px;
  opacity: 0.8;
} 

#key
{ 
color: white;
position: absolute; 
top: 475px; 
left: 255px; 
} 

#key_text
{ 
width: 200px; 
background: #fff; 
position: absolute; 
top: 475px; 
right: 0px; 
border: 0px; 
border-radius: 5px;
opacity: 0.8;
}
